# Experiment with Lean-lang for formal verification
